:root {
  --black-100: #000;
}
header#header ul.mainmenulist li:has(.submenulist):hover ul.submenulist {
  width: 200px;
  align-items: flex-start;
  /* padding: 10px 15px; */
}
/* .submenulist li{
  padding: 10px 15px;
} */
header#header ul.submenulist svg {
  position: absolute;
  top: -8px;
  height: 15px;
  left: 10px;
}
#review_section .slick-carousel {
  width: auto;
}
#review_section .slick-carousel {
  width: auto;
}
#review_section .slick-arrow {
  display: none !important;
}
#review_section .slick-slide {
  text-align: center;
}

#review_section .slick-prev:before,
#review_section .slick-next:before {
  color: black;
}

#review_section .slick-dots {
  bottom: -30px;
  display: none;
}

header#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
/* header#header .straight_logo_header_ar {
  max-width: 200px;
} */
header#header {
  width: 100%;
  top: 0px;
  left: 0px;
}
header#header ul.mainmenulist {
  display: flex;
  gap: 36px;
  flex-wrap: nowrap;
  margin: 0px;
  list-style: none;
}
header#header ul.mainmenulist li a svg {
  fill: var(--white-white-100);
}
#update_cart_ar:hover {
  box-shadow: 0px 10px 10px 0px #da792440;
}
header#header ul.mainmenulist li {
  position: relative;
  padding: 5px 0px;
}
header#header ul.submenulist li {
  width: 100%;
  padding: 10px 10px;
}
header#header ul.mainmenulist li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--white-white-100);
  font-family: var(--arial-fonts);
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px; /* 171.429% */
}
header#header ul.mainmenulist li:not(:has(.submenulist)) span {
  display: none;
}

header#header ul.submenulist {
  display: none;
  flex-direction: column;
  margin: 0px;
  list-style: none;
  background: white;
  color: green;
  /* padding: 5px; */
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0px;
  border-radius: 3px;
}
header#header ul.submenulist li a {
  color: var(--black-100);
  justify-content: flex-start;
}
header#header ul.submenulist li:hover {
  background-color: var(--black-black-10);
}
header#header .get_price_list_popup {
  display: flex;
  gap: 24px;
  align-items: center;
}
header#header .get_price_list_popup .mini_cart_ar {
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

header#header .cta_header_ar a {
  display: flex;
  width: 148px;
  height: 44px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--secondary-secondary-100);
  flex-shrink: 0;
  color: var(--white-white-100);
  text-align: center;
  font-family: var(--gibson-regular);
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  letter-spacing: 0.06em;
}
header#header .cta_header_ar a:hover {
  box-shadow: 0px 10px 10px 0px #da792440;
}
.topheader_wrapper {
  padding: 0px;
}
.login_country_ar {
  background: #2d543b;
}

.topheaderbtn_ar {
  display: flex;
  gap: 15px;
  align-items: center;
}
.top_header_ar_mi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}
.topheaderbtn_ar a {
  color: var(--white-white-100);
  font-family: var(--arial-fonts);
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
.topheaderbtn_ar a i {
  color: var(--secondary-secondary-100);
}
#header .netsites_ar {
  display: flex;
}
#header {
  transition: top 0.5s ease-in-out, background-color 0.5s ease-in-out;
  position: fixed;
  z-index: 999;
}
.netsites_ar .dropdown-selected-option .country-name {
  color: var(--white-white-100);
  font-family: var(--arial-fonts);
  font-size: var(--font-size-12);
  font-weight: 400;
  line-height: 20px;
}
.netsites_ar .dropdown-option .country-name {
  font-size: var(--font-size-14);
}
.netsites_ar .custom-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.netsites_ar .dropdown-selected-option {
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

.netsites_ar .dropdown-options {
  display: none;
  position: absolute;
  background-color: var(--white-white-100);
  color: var(--black-black-100);
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.netsites_ar .dropdown-option {
  padding: 0px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.netsites_ar .dropdown-option:hover {
  background-color: var(--black-black-20);
}

.netsites_ar .flag-icon {
  width: 24px;
  height: 20px;
  margin-right: 10px;
}
.sticky {
  background-color: #8ea399;
  border-width: 1px 0px 1px 0px;

  border-style: solid;

  border-color: #ffffff0d;
}
.sticky .login_country_ar {
  background-color: #27523c;
}
@media (min-width: 768px) {
  header#header ul.mainmenulist li:hover ul.submenulist,
  header#header ul.submenulist:hover {
    display: flex;
  }
  .mipopupheader_ar {
    display: none;
  }
}
header#header .straight_logo_header_ar img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 200px;
}
@media (max-width: 768px) {
  .sticky {
    padding-bottom: 0px;
  }
  header#header ul.submenulist svg {
    display: none;
  }
  header#header ul.submenulist {
    width: 100% !important;
    background: transparent !important;
    position: relative;
    border-left: 2px solid var(--secondary-secondary-100);
    margin-top: 30px;
    border-radius: 0px !important;
  }
  header#header ul.submenulist li {
    text-align: center;
    padding: 0px 12px !important;
    color: white;
    margin: 12.5px 0px;
  }
  header#header ul.submenulist li a {
    justify-content: center;
    transition: all 0.5s ease-in-out;
    color: white;
  }
  header#header ul.submenulist li:last-child {
    margin-bottom: 0px !important;
  }
  header#header ul.submenulist li:first-child {
    margin-top: 0px !important;
  }
  header#header ul.submenulist li a span {
    transition: all 0.3s ease-in-out;
  }
  header#header ul.mainmenulist li a > span {
    transition: all 0.3s ease-in-out;
    width: 100px;
    text-align: right;
  }
  .reotate_chev_180 {
    transform: rotateX(180deg);
    transition: all 0.5s ease-in-out;
  }
  .flex_mob_pops_wrapper_ar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
    padding-bottom: 20px;
  }
  .menu_header_mb_ar_close {
    width: 100%;
  }
  .mipopupheader_ar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #496d5b;
    padding: 7px 16px;
  }
  .close_btn_ar {
    color: white;
    font-size: 24px;
    font-weight: 600;
    background-color: var(--secondary-secondary-100);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  header#header ul.mainmenulist li a {
    justify-content: space-between;
    font-size: 16px !important;
  }
  header#header ul.mainmenulist {
    gap: 30px !important;
  }
  #quote_header_ar {
    padding: 15px 0px;
  }
  #quote_header_ar .dropdown-menu {
    padding: 0px !important;
  }
  .dropdown-menu {
    padding: 30px 15px;
  }
  header#header .cta_header_ar a {
    height: 50px !important;
    width: 100% !important;
  }
}

/**** mini cart 8 ****/
/* mini cart page  */
.str-cart-section-am {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  transition: all 0.5s ease-in-out;
  display: none;
}

.str-cart-section-inner-am {
  width: 470px;
  float: right;
  padding: 40px 20px;
  background-color: white;
}

.str-cross-heading-am {
  display: flex;
  gap: 135px;
  margin-bottom: 40px;
}

.str-cart-title-am {
  margin: 0px;
  font-family: var(--gibson-regular);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.str-cart-cross-icon-am,
.str-cart-order-delete-btn-am,
.str-cart-order-minus-btn-am,
.str-cart-order-plus-btn-am,
.str-cart-quantity-am input {
  border: 0;
  background: transparent;
}
.str-cart-cross-icon-am,
.str-cart-order-delete-btn-am,
.str-cart-order-minus-btn-am,
.str-cart-order-plus-btn-am {
  cursor: pointer;
}
.str-cart-quantity-am input {
  text-align: center;
  width: 20px;
}

.str-cart-order-img-am {
  width: 111px;
  height: 106px;
  background: #1b49320d;
  border-radius: 10px;
}

.str-cart-order-img-am img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.str-cart-order-content-inner-am {
  display: flex;
  justify-content: space-between;
}

.str-cart-img-content-am {
  display: flex;
  gap: 13px;
}

.str-cart-order-name-am p {
  margin: 0px;
  font-family: var(--arial-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.str-cart-order-name-am {
  width: 235px;
}

.str-cart-order-name-am p {
  margin-bottom: 14px;
}

.str-cart-quantity-am {
  width: 121px;
  height: 46px;
  align-content: center;
  text-align: center;
  border: 1px solid #1b49321a;
  border-radius: 10px;
}

.str-cart-content-am {
  overflow: scroll;
}

.str-cart-content-am::-webkit-scrollbar {
  display: none;
}

.str-cart-order-btn-am {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 152px);
}

.str-cart-quote-btnbtn-am {
  width: 100%;
  background: #da7924;
  border: 0;
  padding: 13px 50px;
  border-radius: 10px;
  font-family: var(--raleway-fonts);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  cursor: pointer;
}
.str-cart-order-content-am {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .str-cart-section-inner-am {
    width: 100%;
    padding: 20px 16px;
  }
  .str-cart-title-am {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .str-cart-order-name-am {
    width: 218px;
  }
  .str-cross-heading-am {
    gap: 102px;
  }
  .str-cart-order-btn-am {
    height: calc(100vh - 104px);
  }
}

/** logged in cart **/

.d_cart_flex_ar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.for_loggined_user_ar .d_cart_flex_ar h5 {
  font-family: var(--arial-fonts);
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: 22px;
  color: var(--black-black-60);
  margin-bottom: 0px;
}
.for_loggined_user_ar .d_cart_flex_ar h6 {
  font-family: var(--gibson-regular);
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: var(--black-100);
  margin-bottom: 0px;
}
.for_loggined_user_ar .d_cart_flex_ar h6 span {
  font-family: var(--arial-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black-black-80, #000000cc);
}
#minicart_ar .remvoer_side_ar {
  height: 100%;
}
.hideme_user_ar {
  display: none !important;
}
.fullwidth_login_ar {
  width: 100% !important;
}
.str-cart-addquote-btn-am {
  width: 100%;
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
}
.str-cart-addquote-btn-am a {
  width: 250px;
  background: #da7924;
  border: 0;
  padding: 13px 50px;
  border-radius: 10px;
  font-family: var(--raleway-fonts);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.str-cart-addquote-btn-am a:hover {
  box-shadow: 0px 10px 10px 0px #da792440;
}
.mini_cart_ar h6 {
  color: white;
font-family: var(--arial-fonts);
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-bottom: 0px !important;
}
.mini_cart_ar h6:hover{
  text-decoration: underline;
}