header#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
header#header .straight_logo_header_ar {
  max-width: 200px;
}
header#header {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
header#header ul.mainmenulist {
  display: flex;
  gap: 36px;
  flex-wrap: nowrap;
  margin: 0px;
  list-style: none;
}
header#header ul.mainmenulist li a svg {
  fill: var(--white-white-100);
}
header#header ul.mainmenulist li a span {
  height: 17px;
}
header#header ul.mainmenulist li {
  position: relative;
}
header#header ul.mainmenulist li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--white-white-100);
  font-family: var(--arial-fonts);
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px; /* 171.429% */
}
header#header ul.mainmenulist li:not(:has(.submenulist)) span {
  display: none;
}

header#header ul.submenulist {
  display: none;
  flex-direction: column;
  margin: 0px;
  list-style: none;
  background: white;
  color: green;
  padding: 5px;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0px;
  border-radius: 3px;
}
header#header ul.submenulist li a {
  color: var(--primary-primary-100);
}
header#header ul.mainmenulist li:has(.submenulist):hover ul.submenulist {
  display: flex;
}
header#header .cta_header_ar a {
  display: flex;
  width: 148px;
  height: 44px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--secondary-secondary-100);
  flex-shrink: 0;
  color: var(--white-white-100);
  text-align: center;
  font-family: var(--gibson-regular);
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}
.topheader_wrapper {
  padding: 8px 0px;
  background: var(--white-white-5);
}
.topheaderbtn_ar {
  display: flex;
  gap: 15px;
  align-items: center;
}
.top_header_ar_mi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topheaderbtn_ar a {
  color: var(--white-white-100);
  font-family: var(--arial-fonts);
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
.topheaderbtn_ar a i {
  color: var(--secondary-secondary-100);
}