:root {
    --font-family-arial: 'Arial';
    --font-family-gibson: 'Gibson';
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-26: 26px;
    --font-size-30: 30px;
    --font-size-32: 32px;
}

/* Mobile styles for smaller screens */
@media (max-width: 768px) {
    #exclusive_perk_home_ar .heroimage_buttons .image_area_hero{
        padding: 0px;
    }
    #testimon_slider .play_button_for_straight {
        top: 20%;
    right: 40%;
    }
    .mid-flex-center {
        padding-top: 50px;
        padding-right: 20px;
        gap: 30px;
    }

    .content_area_landscape_hero {
        width: 100% !important;
    }

    .content_area_landscape_hero h1 {
        font-size: var(--font-size-26);
        line-height: 34px;
        max-width: 100%;
        padding-right: 20px;
    }

    .content_area_landscape_hero h5 {
        font-size: var(--font-size-14);
    }
    #landscape_hero_section .image_area_hero{
        border-radius: 36px 36px 0px 0px;
    }
    #landscape_hero_section .image_area_hero img{
        border-radius: 36px 36px 0px 0px;
    }

    #landscape_hero_section .landscape_trythempoints_ar {
        padding-right: unset !important;
        flex-direction: column;
    }

    .landscape_trythempoints {
        width: 100%;
        padding: 0px 0px 15px 0px !important;
    }

    #landscape_hero_section .redi_btn_ar {
        margin-top: 20px !important;
        width: 271px !important;
        padding: 10px 20px;
    }

    #landscape_hero_section .re_heading h3 {
        font-size: var(--font-size-14);
    }

    .image_area_hero img {
        border-radius: 36px 36px 0px 0px;
    }

    #review_section {
        padding: 20px 10px 0px 10px;
    }

    .lanscape_whychoose_heading_text h2 {
        font-size: var(--font-size-26) !important;
        line-height: 34px !important;
        margin-bottom: 10px !important;
    }

    #landscape_whychoose_section .landscape_whychoose_tab_content_item_inner_left_heading h3 {
        font-size: var(--font-size-18);
        line-height: 24px;
    }

    #landscape_whychoose_section .landscape_whychoose_tab_content_item_inner_left_heading {
        margin-bottom: 20px;
    }

    #landscape_whychoose_section .landscape_whychoose_tab_content_item_inner_left_text {
        align-items: flex-start;
        gap: 6px;
    }

    #landscape_whychoose_section .landscape_whychoose_tab_content_item_inner_left_text svg {
        width: 10%;
    }

    #landscape_whychoose_section .landscape_whychoose_tab_content_item_inner_left_text p {
        line-height: 22px;
    }

    #landscape_whychoose_section .landscape_whychoose_tab_content_item_inner_left_button a {
        font-size: var(--font-size-14);
        line-height: 20px;
        padding: 12px 30px;
        display: block;
        width: 100%;
    }

    #landscape_whychoose_section .landscape_whychoose_tab_content_item_inner_right {
        text-align: center;
    }

    h2 {
        font-size: var(--font-size-26) !important;
        line-height: 34px !important;
    }

    a,
    p,
    h4 {
        font-size: var(--font-size-14) !important;
        line-height: 22px !important;
    }

    #testimonials_ar {
        padding: 40px 0px;
    }

    #landscape_whychoose_section .landscape_whychoose_tab_content_item_inner_right {
        margin-bottom: 0px;
    }

    .testimonials_ar .subheading p {
        margin: 15px auto 30px auto;
    }

    .testimon_content_img img {
        height: 230px;
    }
    .testimon_content_img video {
        height: 230px;
    object-fit: cover;
    border-radius: 10px;
    }

    .testimonials_ar .d-flex--column-ar-mi {
        gap: 20px;
    }

    .testimon_content {
        padding: 0px;
    }

    .quotes_review_ar svg {
        width: 30px;
    }

    #testimon_slider .review_text_ar {
        margin-top: 15px;
    }

    #testimon_slider .userdetails_ar p {
        font-size: var(--font-size-12) !important;
    }

    #testimon_slider .owl-dots {
        bottom: -45px;
        left: 135px;
        width: 200px;
    }

    #testimon_slider .test_slider_controls_ar {
        padding-top: 40px;
    }

    #testimon_slider button.owl-dot {
        width: 6px;
        height: 6px;
    }

    .rangeofproducts_ar {
        padding: 40px 0px !important;
    }

    .rangeofproducts_ar p {
        margin: 10px auto 30px auto;
    }

    .prange_mi_ar .prange_header_img img {
        height: 200px;
        width: 343px;
    }

    .prange_content h3 {
        font-size: var(--font-size-20);
        line-height: 30px;
    }

    #rangeofproducts_ar .linkbuttons_ar {
        padding-top: 25px;
    }

    #landscape_promise_section {
        padding: 40px 0px;
    }

    .landscape_promise_section_inner_heading_text {
        padding: 0px 20px;
    }

    #landscape_promise_section .landscape_promise_section_inner_heading_text p {
        margin-bottom: 30px;
    }

    #landscape_promise_section .landscape_promise_section_inner_content_item_button .text_area {
        font-size: var(--font-size-14);
        line-height: 20px;
    }

    #landscape_promise_section .landscape_promise_section_inner_content_item_button .icon_area {
        padding: 7px 7px 0px 7px;
    }

    #landscape_guide_to_installing_section {
        padding: 40px 0px;
    }

    .landscape_guide_to_installing_heading {
        padding: 0px 20px 0px 0px;
    }
    #landscape_guide_to_installing_section .landscape_guide_to_installing_section_inner_flex
    {
        flex-direction: column;
    }
    #landscape_guide_to_installing_section .landscape_guide_to_installing_section_inner_flex_left{
        width: 100%;
    }
    #landscape_guide_to_installing_section .landscape_guide_to_installing_section_inner_flex_right {
        width: 100%;
    }

    #landscape_guide_to_installing_section .landscape_guide_to_installing_section_inner_flex_left_text p,
    #landscape_guide_to_installing_section .landscape_guide_to_installing_section_inner_flex_left_text {
        margin-bottom: 20px;
    }
    .landscape_guide_to_installing_section_inner_flex_left_button{
        text-align: center;
    }
    .landscape_guide_to_installing_section_inner_flex_right{
        margin-top: 30px;
    }
    #homeaccordiana_ar{
        padding: 40px 0px;
    }
    .accordian_wrapper_ar{
        margin: 30px auto 0px auto;
    }
    .accordian_wrapper_ar .accordian_ar_mi_head h5{
        font-size: var(--font-size-16);
        line-height: 24px;
        width: 90%;
    }
    .accord_icons_ar{
        width: 10%;
    }
    .accordian_ar_mi_head{
        gap: 10px;
    }
    #landscape_some_heading_section .landscape_some_heading_section_inner_flex_left {
        padding: 40px 20px;
    }
    #landscape_some_heading_section .landscape_some_heading_section_inner_flex_left_text p{
        font-size: var(--font-size-16);
        line-height: 24px;
    }
    #landscape_some_heading_section .landscape_some_heading_section_inner_flex_left_text svg {
        width: 7%;
    }
    #landscape_some_heading_section .landscape_some_heading_section_inner_flex_left_text {
        align-items: flex-start;
    }
    #landscape_some_heading_section  .landscape_some_heading_section_inner_flex_left_button{
        text-align: center;
    }
    #landscape_some_heading_section  .landscape_some_heading_section_inner_flex{
        gap: 20px;
    }
    .landscape_some_heading_section_inner_flex_right{
        height: 300px;
    }
    #footer_gallery_wrapper_ar .slider_controls{
        display: none;
    }
    #footer_gallery_ar .container_fluid_mi_ar h2{
        padding-top: 20px;
    }
    #footer_gallery_wrapper_ar .owl-item img ,#footer_gallery_wrapper_ar .footer_gallery_img_ar,#footer_gallery_wrapper_ar .owl-item {
        width: 100%;
        height: 170px !important;
    }
    #footer_pricelist_ar{
        padding: 40px 0px 65px 0px;
    }
    #footer_pricelist_ar .included_item_price_ar h3{
        font-size: var(--font-size-14);
        line-height: 22px;
    }
    #footer_pricelist_ar .cta_btn_ar a {
        padding: 10px 15px;
    }
    #footer_pricelist_ar .cta_btn_ar{
        margin-top: 30px;
    }
    #footer_nav_ar{
        padding: 40px 0px 48px 0px;
    }
    #colophon .d_flex_footer_copy_wraper {
        flex-direction: column-reverse;
        gap: 20px;
    }
    #colophon .d_flex_footer_copy_wraper .copy_ar{
        text-align: center;
    }
    #colophon .d_flex_footer_copy_wraper .copy_ar p,#colophon .d_flex_footer_copy_wraper .terms_links_ar a{
        font-size: var(--font-size-12) !important;
        line-height: 20px !important;
    }
    #colophon .footer_copyrights_menu_ar .centered_icon i {
        font-size: 7px !important;
    }


    /* home page  */
    #hero_section .content_area_hero h6{
        font-size: var(--font-size-12);
    }
    #hero_section .content_area_hero h1{
        font-size: var(--font-size-32);
        line-height: 42px;
    }
    #hero_section .content_area_hero{
        padding-right: 0px;
    }
    #hero_section .redi_btn_ar .re_heading h3{
        font-size: var(--font-size-14);
        line-height: 20px;
    }
    #hero_section .redi_btn_ar .re_heading p{
        font-size: var(--font-size-12);
        line-height: 20px;
    }
    #hero_section .image_area_hero{
        height: 275px;
    }
    #hero_section .image_area_hero img{
        height: 262px;
        object-fit: cover;
    }
    #hero_section .watchvideo_wrap {
        bottom: 90px;
        right: calc(50% - 110px);
    }
    #whychooseus .whyuscontent h5,#whychooseus .trythemcolumn_ar h4{
        font-size: var(--font-size-16) !important;
        line-height: 24px !important;
    }
    #whychooseus .trythemcolumn_ar{
        padding: 0px;
    }
    #whychooseus .trythempoints {
        gap: 6px;
    }
    #whychooseus .ourrange_slider_ar h4{
        font-size: var(--font-size-16) !important;
        line-height: 24px !important;
    }
    #featuresandbenefits p {
        margin-bottom: 30px;
    }
    #featuresandbenefits h2 {
        padding: 0px 50px;
    }
    #featuresandbenefits .benefit_content h3{
        font-size: var(--font-size-18);
        line-height: 24px;
    }
    #featuresandbenefits  .benfitslist_card_ar .d-flex-ar-mi .benefit_content p{
        margin-bottom: 0px;
    }
    #featuresandbenefits .d-flex-ar-mi .linkbuttons_ar {
        margin-top: 0px;
    }
    #featuresandbenefits .linkbuttons_ar .getstartedbtn {
        width: unset;
        padding: 7px;
    }
    #practreason{
        padding: 40px 0px;
    }
    #practreason .reason_wrapper_ar {
        padding-top:25px ;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    #exclusive_perk_home_ar .image_area_hero img{
        border-radius: 0px;
    }
    #exclusive_perk_home_ar .content_area_landscape_hero a {
        margin-top: 40px;
        width: 100%;
    }
    #exclusive_perk_home_ar .content_area_landscape_hero {
        padding: 15px 20px 40px 20px;
    }
    #exclusive_perk_home_ar .landscape_trythempoints_ar {
        gap: 10px 60px;
    }
    #latest_blog_ar{
        padding: 40px 0px;
    }
    #latest_blog_ar .latestpost_wraaper_ar {
        margin-top: 20px;
    }
    #latest_blog_ar .post_loop_ar .loopcard_header img,#latest_blog_ar .post_loop_ar .loopcard_header{
        height: 200px;
    }
    #latest_blog_ar .post_loop_ar .loopcard_body h3{
        font-size: var(--font-size-16);
        line-height: 22px;
        margin: 10px 0px 20px 0px;
    }
    .slider_controls .prevbtn, .slider_controls .nextbtn {
        width: 36px;
        height: 42px;
    }

}
@media (max-width: 1200px) {
    .landscape_whychoose_tab_list_item.active {
        padding: 18px 115px !important;
    }
    #rangeofproducts_ar{
        padding: 90px 20px;
    }
    #landscape_some_heading_section .landscape_some_heading_section_inner_flex_left{
        padding-left: 20px;
    }

}
@media (max-width: 900px) {
    #landscape_hero_section .content_area_landscape_hero{
        width: 100%;
    }
    #landscape_whychoose_section .lanscape_whychoose_heading_text p {
        padding: 0px 0px;
    }
    #landscape_whychoose_section .landscape_whychoose_tab_list {
        margin: 0px 20px;
    }
    .landscape_guide_to_installing_section_inner_flex_left_button a {
        display: block;
        padding: 13px 30px !important;
        width: 100%;
    }
    .landscape_whychoose_tab_list_item.active {
        padding: 18px 65px !important;
    }
    #landscape_some_heading_section .landscape_some_heading_section_inner_flex_left_button a {
        display: block;
        padding: 13px 20px;
    }
    #landscape_some_heading_section .landscape_some_heading_section_inner_flex_left_text svg {
        width: 10%;
    }
    #landscape_whychoose_section  .landscape_whychoose_tab_content_item_inner_left_button a {
        display: block;
        padding: 13px 30px;
    }

}
@media (max-width: 1024px) {
    #landscape_hero_section .landscape_trythempoints_ar{
        padding-right: 0px !important;
    }
    #landscape_whychoose_section .landscape_whychoose_tab_list {
        margin: 0px 70px;
    }
}
